name: Publish Extensions

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    concurrency:
      group: extension-publish
      cancel-in-progress: true

    steps:
      - uses: necipsagiro/browser-extension-publish-action@v1.0.0
        with:
          chrome-client-id: ${{ secrets.CHROME_CLIENT_ID }}
          chrome-client-secret: ${{ secrets.CHROME_CLIENT_SECRET }}
          chrome-refresh-token: ${{ secrets.CHROME_REFRESH_TOKEN }}
          chrome-publisher-id: ${{ secrets.CHROME_PUBLISHER_ID }}
          chrome-extension-id: ${{ secrets.CHROME_EXTENSION_ID }}
          firefox-jwt-issuer: ${{ secrets.FIREFOX_JWT_ISSUER }}
          firefox-jwt-secret: ${{ secrets.FIREFOX_JWT_SECRET }}
